@import "variables";

@font-face {
  font-family: 'o-icon';
  src:  url('#{$orchid-font-path}/o-icon.eot?ish9yt');
  src:  url('#{$orchid-font-path}/o-icon.eot?ish9yt#iefix') format('embedded-opentype'),
               url('#{$orchid-font-path}/o-icon.ttf?ish9yt') format('truetype'),
               url('#{$orchid-font-path}/o-icon.woff?ish9yt') format('woff'),
               url('#{$orchid-font-path}/o-icon.svg?ish9yt#o-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'o-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-energy {
  &:before {
    content: unicode($icon-energy);
  }
}
.icon-social-youtube {
  &:before {
    content: unicode($icon-social-youtube);
  }
}
.icon-credit-card {
  &:before {
    content: unicode($icon-credit-card);
  }
}
.icon-options {
  &:before {
    content: unicode($icon-options);
  }
}
.icon-wrench {
  &:before {
    content: unicode($icon-wrench);
  }
}
.icon-action-redo {
  &:before {
    content: unicode($icon-action-redo);
  }
}
.icon-fire {
  &:before {
    content: unicode($icon-fire);
  }
}
.icon-menu {
  &:before {
    content: unicode($icon-menu);
  }
}
.icon-globe-alt {
  &:before {
    content: unicode($icon-globe-alt);
  }
}
.icon-arrow-up-circle {
  &:before {
    content: unicode($icon-arrow-up-circle);
  }
}
.icon-layers {
  &:before {
    content: unicode($icon-layers);
  }
}
.icon-volume-off {
  &:before {
    content: unicode($icon-volume-off);
  }
}
.icon-call-end {
  &:before {
    content: unicode($icon-call-end);
  }
}
.icon-book-open {
  &:before {
    content: unicode($icon-book-open);
  }
}
.icon-arrow-up {
  &:before {
    content: unicode($icon-arrow-up);
  }
}
.icon-doc {
  &:before {
    content: unicode($icon-doc);
  }
}
.icon-settings {
  &:before {
    content: unicode($icon-settings);
  }
}
.icon-pie-chart {
  &:before {
    content: unicode($icon-pie-chart);
  }
}
.icon-equalizer {
  &:before {
    content: unicode($icon-equalizer);
  }
}
.icon-earphones-alt {
  &:before {
    content: unicode($icon-earphones-alt);
  }
}
.icon-dislike {
  &:before {
    content: unicode($icon-dislike);
  }
}
.icon-bell {
  &:before {
    content: unicode($icon-bell);
  }
}
.icon-control-pause {
  &:before {
    content: unicode($icon-control-pause);
  }
}
.icon-feed {
  &:before {
    content: unicode($icon-feed);
  }
}
.icon-cloud-upload {
  &:before {
    content: unicode($icon-cloud-upload);
  }
}
.icon-event {
  &:before {
    content: unicode($icon-event);
  }
}
.icon-user-unfollow {
  &:before {
    content: unicode($icon-user-unfollow);
  }
}
.icon-speech {
  &:before {
    content: unicode($icon-speech);
  }
}
.icon-earphones {
  &:before {
    content: unicode($icon-earphones);
  }
}
.icon-tag {
  &:before {
    content: unicode($icon-tag);
  }
}
.icon-briefcase {
  &:before {
    content: unicode($icon-briefcase);
  }
}
.icon-mustache {
  &:before {
    content: unicode($icon-mustache);
  }
}
.icon-shield {
  &:before {
    content: unicode($icon-shield);
  }
}
.icon-social-dropbox {
  &:before {
    content: unicode($icon-social-dropbox);
  }
}
.icon-exclamation {
  &:before {
    content: unicode($icon-exclamation);
  }
}
.icon-chart {
  &:before {
    content: unicode($icon-chart);
  }
}
.icon-flag {
  &:before {
    content: unicode($icon-flag);
  }
}
.icon-volume-1 {
  &:before {
    content: unicode($icon-volume-1);
  }
}
.icon-power {
  &:before {
    content: unicode($icon-power);
  }
}
.icon-symble-female {
  &:before {
    content: unicode($icon-symble-female);
  }
}
.icon-user-following {
  &:before {
    content: unicode($icon-user-following);
  }
}
.icon-user-female {
  &:before {
    content: unicode($icon-user-female);
  }
}
.icon-vector {
  &:before {
    content: unicode($icon-vector);
  }
}
.icon-check {
  &:before {
    content: unicode($icon-check);
  }
}
.icon-shuffle {
  &:before {
    content: unicode($icon-shuffle);
  }
}
.icon-phone {
  &:before {
    content: unicode($icon-phone);
  }
}
.icon-arrow-down-circle {
  &:before {
    content: unicode($icon-arrow-down-circle);
  }
}
.icon-refresh {
  &:before {
    content: unicode($icon-refresh);
  }
}
.icon-puzzle {
  &:before {
    content: unicode($icon-puzzle);
  }
}
.icon-eye {
  &:before {
    content: unicode($icon-eye);
  }
}
.icon-arrow-right-circle {
  &:before {
    content: unicode($icon-arrow-right-circle);
  }
}
.icon-social-vkontakte {
  &:before {
    content: unicode($icon-social-vkontakte);
  }
}
.icon-close {
  &:before {
    content: unicode($icon-close);
  }
}
.icon-reload {
  &:before {
    content: unicode($icon-reload);
  }
}
.icon-social-steam {
  &:before {
    content: unicode($icon-social-steam);
  }
}
.icon-key {
  &:before {
    content: unicode($icon-key);
  }
}
.icon-screen-desktop {
  &:before {
    content: unicode($icon-screen-desktop);
  }
}
.icon-screen-smartphone {
  &:before {
    content: unicode($icon-screen-smartphone);
  }
}
.icon-microphone {
  &:before {
    content: unicode($icon-microphone);
  }
}
.icon-social-foursqare {
  &:before {
    content: unicode($icon-social-foursqare);
  }
}
.icon-note {
  &:before {
    content: unicode($icon-note);
  }
}
.icon-calculator {
  &:before {
    content: unicode($icon-calculator);
  }
}
.icon-directions {
  &:before {
    content: unicode($icon-directions);
  }
}
.icon-social-pintarest {
  &:before {
    content: unicode($icon-social-pintarest);
  }
}
.icon-folder-alt {
  &:before {
    content: unicode($icon-folder-alt);
  }
}
.icon-pin {
  &:before {
    content: unicode($icon-pin);
  }
}
.icon-login {
  &:before {
    content: unicode($icon-login);
  }
}
.icon-size-fullscreen {
  &:before {
    content: unicode($icon-size-fullscreen);
  }
}
.icon-bold {
  &:before {
    content: unicode($icon-bold);
  }
}
.icon-magnifier {
  &:before {
    content: unicode($icon-magnifier);
  }
}
.icon-plane {
  &:before {
    content: unicode($icon-plane);
  }
}
.icon-graduation {
  &:before {
    content: unicode($icon-graduation);
  }
}
.icon-picture {
  &:before {
    content: unicode($icon-picture);
  }
}
.icon-compass {
  &:before {
    content: unicode($icon-compass);
  }
}
.icon-people {
  &:before {
    content: unicode($icon-people);
  }
}
.icon-grid {
  &:before {
    content: unicode($icon-grid);
  }
}
.icon-docs {
  &:before {
    content: unicode($icon-docs);
  }
}
.icon-options-vertical {
  &:before {
    content: unicode($icon-options-vertical);
  }
}
.icon-badge {
  &:before {
    content: unicode($icon-badge);
  }
}
.icon-control-start {
  &:before {
    content: unicode($icon-control-start);
  }
}
.icon-magic-wand {
  &:before {
    content: unicode($icon-magic-wand);
  }
}
.icon-share-alt {
  &:before {
    content: unicode($icon-share-alt);
  }
}
.icon-mouse {
  &:before {
    content: unicode($icon-mouse);
  }
}
.icon-bubble {
  &:before {
    content: unicode($icon-bubble);
  }
}
.icon-info {
  &:before {
    content: unicode($icon-info);
  }
}
.icon-question {
  &:before {
    content: unicode($icon-question);
  }
}
.icon-arrow-right {
  &:before {
    content: unicode($icon-arrow-right);
  }
}
.icon-bubbles {
  &:before {
    content: unicode($icon-bubbles);
  }
}
.icon-globe {
  &:before {
    content: unicode($icon-globe);
  }
}
.icon-hourglass {
  &:before {
    content: unicode($icon-hourglass);
  }
}
.icon-social-instagram {
  &:before {
    content: unicode($icon-social-instagram);
  }
}
.icon-home {
  &:before {
    content: unicode($icon-home);
  }
}
.icon-graph {
  &:before {
    content: unicode($icon-graph);
  }
}
.icon-magnet {
  &:before {
    content: unicode($icon-magnet);
  }
}
.icon-control-forward {
  &:before {
    content: unicode($icon-control-forward);
  }
}
.icon-wallet {
  &:before {
    content: unicode($icon-wallet);
  }
}
.icon-game-controller {
  &:before {
    content: unicode($icon-game-controller);
  }
}
.icon-disc {
  &:before {
    content: unicode($icon-disc);
  }
}
.icon-bulb {
  &:before {
    content: unicode($icon-bulb);
  }
}
.icon-trash {
  &:before {
    content: unicode($icon-trash);
  }
}
.icon-like {
  &:before {
    content: unicode($icon-like);
  }
}
.icon-social-linkedin {
  &:before {
    content: unicode($icon-social-linkedin);
  }
}
.icon-ban {
  &:before {
    content: unicode($icon-ban);
  }
}
.icon-playlist {
  &:before {
    content: unicode($icon-playlist);
  }
}
.icon-support {
  &:before {
    content: unicode($icon-support);
  }
}
.icon-film {
  &:before {
    content: unicode($icon-film);
  }
}
.icon-control-end {
  &:before {
    content: unicode($icon-control-end);
  }
}
.icon-clock {
  &:before {
    content: unicode($icon-clock);
  }
}
.icon-social-tumblr {
  &:before {
    content: unicode($icon-social-tumblr);
  }
}
.icon-social-facebook {
  &:before {
    content: unicode($icon-social-facebook);
  }
}
.icon-user {
  &:before {
    content: unicode($icon-user);
  }
}
.icon-music-tone-alt {
  &:before {
    content: unicode($icon-music-tone-alt);
  }
}
.icon-camera {
  &:before {
    content: unicode($icon-camera);
  }
}
.icon-italic {
  &:before {
    content: unicode($icon-italic);
  }
}
.icon-bag {
  &:before {
    content: unicode($icon-bag);
  }
}
.icon-basket-loaded {
  &:before {
    content: unicode($icon-basket-loaded);
  }
}
.icon-social-behance {
  &:before {
    content: unicode($icon-social-behance);
  }
}
.icon-map {
  &:before {
    content: unicode($icon-map);
  }
}
.icon-handbag {
  &:before {
    content: unicode($icon-handbag);
  }
}
.icon-social-twitter {
  &:before {
    content: unicode($icon-social-twitter);
  }
}
.icon-loop {
  &:before {
    content: unicode($icon-loop);
  }
}
.icon-present {
  &:before {
    content: unicode($icon-present);
  }
}
.icon-symbol-male {
  &:before {
    content: unicode($icon-symbol-male);
  }
}
.icon-control-rewind {
  &:before {
    content: unicode($icon-control-rewind);
  }
}
.icon-star {
  &:before {
    content: unicode($icon-star);
  }
}
.icon-arrow-left-circle {
  &:before {
    content: unicode($icon-arrow-left-circle);
  }
}
.icon-social-google {
  &:before {
    content: unicode($icon-social-google);
  }
}
.icon-rocket {
  &:before {
    content: unicode($icon-rocket);
  }
}
.icon-magnifier-remove {
  &:before {
    content: unicode($icon-magnifier-remove);
  }
}
.icon-logout {
  &:before {
    content: unicode($icon-logout);
  }
}
.icon-basket {
  &:before {
    content: unicode($icon-basket);
  }
}
.icon-printer {
  &:before {
    content: unicode($icon-printer);
  }
}
.icon-control-play {
  &:before {
    content: unicode($icon-control-play);
  }
}
.icon-social-spotify {
  &:before {
    content: unicode($icon-social-spotify);
  }
}
.icon-diamond {
  &:before {
    content: unicode($icon-diamond);
  }
}
.icon-speedometer {
  &:before {
    content: unicode($icon-speedometer);
  }
}
.icon-target {
  &:before {
    content: unicode($icon-target);
  }
}
.icon-social-stumbleupon {
  &:before {
    content: unicode($icon-social-stumbleupon);
  }
}
.icon-social-soundcloud {
  &:before {
    content: unicode($icon-social-soundcloud);
  }
}
.icon-pencil {
  &:before {
    content: unicode($icon-pencil);
  }
}
.icon-folder {
  &:before {
    content: unicode($icon-folder);
  }
}
.icon-lock-open {
  &:before {
    content: unicode($icon-lock-open);
  }
}
.icon-lock {
  &:before {
    content: unicode($icon-lock);
  }
}
.icon-action-undo {
  &:before {
    content: unicode($icon-action-undo);
  }
}
.icon-share {
  &:before {
    content: unicode($icon-share);
  }
}
.icon-volume-2 {
  &:before {
    content: unicode($icon-volume-2);
  }
}
.icon-cloud-download {
  &:before {
    content: unicode($icon-cloud-download);
  }
}
.icon-notebook {
  &:before {
    content: unicode($icon-notebook);
  }
}
.icon-crop {
  &:before {
    content: unicode($icon-crop);
  }
}
.icon-plus {
  &:before {
    content: unicode($icon-plus);
  }
}
.icon-list {
  &:before {
    content: unicode($icon-list);
  }
}
.icon-paper-clip {
  &:before {
    content: unicode($icon-paper-clip);
  }
}
.icon-paper-plane {
  &:before {
    content: unicode($icon-paper-plane);
  }
}
.icon-social-reddit {
  &:before {
    content: unicode($icon-social-reddit);
  }
}
.icon-frame {
  &:before {
    content: unicode($icon-frame);
  }
}
.icon-magnifier-add {
  &:before {
    content: unicode($icon-magnifier-add);
  }
}
.icon-emotsmile {
  &:before {
    content: unicode($icon-emotsmile);
  }
}
.icon-call-out {
  &:before {
    content: unicode($icon-call-out);
  }
}
.icon-social-skype {
  &:before {
    content: unicode($icon-social-skype);
  }
}
.icon-umbrella {
  &:before {
    content: unicode($icon-umbrella);
  }
}
.icon-paypal {
  &:before {
    content: unicode($icon-paypal);
  }
}
.icon-call-in {
  &:before {
    content: unicode($icon-call-in);
  }
}
.icon-screen-tablet {
  &:before {
    content: unicode($icon-screen-tablet);
  }
}
.icon-camrecorder {
  &:before {
    content: unicode($icon-camrecorder);
  }
}
.icon-music-tone {
  &:before {
    content: unicode($icon-music-tone);
  }
}
.icon-ghost {
  &:before {
    content: unicode($icon-ghost);
  }
}
.icon-trophy {
  &:before {
    content: unicode($icon-trophy);
  }
}
.icon-location-pin {
  &:before {
    content: unicode($icon-location-pin);
  }
}
.icon-minus {
  &:before {
    content: unicode($icon-minus);
  }
}
.icon-heart {
  &:before {
    content: unicode($icon-heart);
  }
}
.icon-anchor {
  &:before {
    content: unicode($icon-anchor);
  }
}
.icon-cup {
  &:before {
    content: unicode($icon-cup);
  }
}
.icon-cursor-move {
  &:before {
    content: unicode($icon-cursor-move);
  }
}
.icon-envelope-open {
  &:before {
    content: unicode($icon-envelope-open);
  }
}
.icon-organization {
  &:before {
    content: unicode($icon-organization);
  }
}
.icon-social-dribbble {
  &:before {
    content: unicode($icon-social-dribbble);
  }
}
.icon-size-actual {
  &:before {
    content: unicode($icon-size-actual);
  }
}
.icon-arrow-down {
  &:before {
    content: unicode($icon-arrow-down);
  }
}
.icon-drop {
  &:before {
    content: unicode($icon-drop);
  }
}
.icon-user-follow {
  &:before {
    content: unicode($icon-user-follow);
  }
}
.icon-cursor {
  &:before {
    content: unicode($icon-cursor);
  }
}
.icon-direction {
  &:before {
    content: unicode($icon-direction);
  }
}
.icon-chemistry {
  &:before {
    content: unicode($icon-chemistry);
  }
}
.icon-link {
  &:before {
    content: unicode($icon-link);
  }
}
.icon-arrow-left {
  &:before {
    content: unicode($icon-arrow-left);
  }
}
.icon-social-github {
  &:before {
    content: unicode($icon-social-github);
  }
}
.icon-youtube {
  &:before {
    content: unicode($icon-youtube);
  }
}
.icon-yen {
  &:before {
    content: unicode($icon-yen);
  }
}
.icon-video {
  &:before {
    content: unicode($icon-video);
  }
}
.icon-unlock {
  &:before {
    content: unicode($icon-unlock);
  }
}
.icon-unfollow {
  &:before {
    content: unicode($icon-unfollow);
  }
}
.icon-twitter {
  &:before {
    content: unicode($icon-twitter);
  }
}
.icon-tumblr {
  &:before {
    content: unicode($icon-tumblr);
  }
}
.icon-text-right {
  &:before {
    content: unicode($icon-text-right);
  }
}
.icon-text-middle {
  &:before {
    content: unicode($icon-text-middle);
  }
}
.icon-text-left {
  &:before {
    content: unicode($icon-text-left);
  }
}
.icon-text-center {
  &:before {
    content: unicode($icon-text-center);
  }
}
.icon-task {
  &:before {
    content: unicode($icon-task);
  }
}
.icon-tablet {
  &:before {
    content: unicode($icon-tablet);
  }
}
.icon-table {
  &:before {
    content: unicode($icon-table);
  }
}
.icon-start {
  &:before {
    content: unicode($icon-start);
  }
}
.icon-sort-numeric-desc {
  &:before {
    content: unicode($icon-sort-numeric-desc);
  }
}
.icon-sort-numeric-asc {
  &:before {
    content: unicode($icon-sort-numeric-asc);
  }
}
.icon-sort-amount-desc {
  &:before {
    content: unicode($icon-sort-amount-desc);
  }
}
.icon-sort-amount-asc {
  &:before {
    content: unicode($icon-sort-amount-asc);
  }
}
.icon-sort-alpha-desc {
  &:before {
    content: unicode($icon-sort-alpha-desc);
  }
}
.icon-sort-alpha-asc {
  &:before {
    content: unicode($icon-sort-alpha-asc);
  }
}
.icon-shekel {
  &:before {
    content: unicode($icon-shekel);
  }
}
.icon-server {
  &:before {
    content: unicode($icon-server);
  }
}
.icon-rupi {
  &:before {
    content: unicode($icon-rupi);
  }
}
.icon-rub {
  &:before {
    content: unicode($icon-rub);
  }
}
.icon-right {
  &:before {
    content: unicode($icon-right);
  }
}
.icon-quote {
  &:before {
    content: unicode($icon-quote);
  }
}
.icon-pound {
  &:before {
    content: unicode($icon-pound);
  }
}
.icon-pointer {
  &:before {
    content: unicode($icon-pointer);
  }
}
.icon-plus-alt {
  &:before {
    content: unicode($icon-plus-alt);
  }
}
.icon-photo {
  &:before {
    content: unicode($icon-photo);
  }
}
.icon-paste {
  &:before {
    content: unicode($icon-paste);
  }
}
.icon-orchid {
  &:before {
    content: unicode($icon-orchid);
  }
}
.icon-open {
  &:before {
    content: unicode($icon-open);
  }
}
.icon-number-list {
  &:before {
    content: unicode($icon-number-list);
  }
}
.icon-new-doc {
  &:before {
    content: unicode($icon-new-doc);
  }
}
.icon-move {
  &:before {
    content: unicode($icon-move);
  }
}
.icon-moustache {
  &:before {
    content: unicode($icon-moustache);
  }
}
.icon-monitor {
  &:before {
    content: unicode($icon-monitor);
  }
}
.icon-money {
  &:before {
    content: unicode($icon-money);
  }
}
.icon-modules {
  &:before {
    content: unicode($icon-modules);
  }
}
.icon-module {
  &:before {
    content: unicode($icon-module);
  }
}
.icon-loading {
  &:before {
    content: unicode($icon-loading);
  }
}
.icon-lira {
  &:before {
    content: unicode($icon-lira);
  }
}
.icon-left {
  &:before {
    content: unicode($icon-left);
  }
}
.icon-history {
  &:before {
    content: unicode($icon-history);
  }
}
.icon-help {
  &:before {
    content: unicode($icon-help);
  }
}
.icon-headphones {
  &:before {
    content: unicode($icon-headphones);
  }
}
.icon-headphones-microphone {
  &:before {
    content: unicode($icon-headphones-microphone);
  }
}
.icon-full-screen {
  &:before {
    content: unicode($icon-full-screen);
  }
}
.icon-friends {
  &:before {
    content: unicode($icon-friends);
  }
}
.icon-font {
  &:before {
    content: unicode($icon-font);
  }
}
.icon-filter {
  &:before {
    content: unicode($icon-filter);
  }
}
.icon-female-user {
  &:before {
    content: unicode($icon-female-user);
  }
}
.icon-facebook {
  &:before {
    content: unicode($icon-facebook);
  }
}
.icon-eyeglasses {
  &:before {
    content: unicode($icon-eyeglasses);
  }
}
.icon-euro {
  &:before {
    content: unicode($icon-euro);
  }
}
.icon-envelope {
  &:before {
    content: unicode($icon-envelope);
  }
}
.icon-envelope-letter {
  &:before {
    content: unicode($icon-envelope-letter);
  }
}
.icon-dropbox {
  &:before {
    content: unicode($icon-dropbox);
  }
}
.icon-dribbble {
  &:before {
    content: unicode($icon-dribbble);
  }
}
.icon-drawer {
  &:before {
    content: unicode($icon-drawer);
  }
}
.icon-dollar {
  &:before {
    content: unicode($icon-dollar);
  }
}
.icon-database {
  &:before {
    content: unicode($icon-database);
  }
}
.icon-cut {
  &:before {
    content: unicode($icon-cut);
  }
}
.icon-cross {
  &:before {
    content: unicode($icon-cross);
  }
}
.icon-copyright {
  &:before {
    content: unicode($icon-copyright);
  }
}
.icon-controller {
  &:before {
    content: unicode($icon-controller);
  }
}
.icon-config {
  &:before {
    content: unicode($icon-config);
  }
}
.icon-code {
  &:before {
    content: unicode($icon-code);
  }
}
.icon-circle_thin {
  &:before {
    content: unicode($icon-circle_thin);
  }
}
.icon-circle {
  &:before {
    content: unicode($icon-circle);
  }
}
.icon-calendar {
  &:before {
    content: unicode($icon-calendar);
  }
}
.icon-calculator-alt {
  &:before {
    content: unicode($icon-calculator-alt);
  }
}
.icon-building {
  &:before {
    content: unicode($icon-building);
  }
}
.icon-bug {
  &:before {
    content: unicode($icon-bug);
  }
}
.icon-brush {
  &:before {
    content: unicode($icon-brush);
  }
}
.icon-browser {
  &:before {
    content: unicode($icon-browser);
  }
}
.icon-bitcoin {
  &:before {
    content: unicode($icon-bitcoin);
  }
}
.icon-barcode {
  &:before {
    content: unicode($icon-barcode);
  }
}
.icon-bar-chart {
  &:before {
    content: unicode($icon-bar-chart);
  }
}
.icon-actual-size {
  &:before {
    content: unicode($icon-actual-size);
  }
}

