@import "variables";

@font-face {
  font-family: 'o-icon';
  src:  url('#{$orchid-font-path}/o-icon.eot?3u1wov');
  src:  url('#{$orchid-font-path}/o-icon.eot?3u1wov#iefix') format('embedded-opentype'),
    url('#{$orchid-font-path}/o-icon.ttf?3u1wov') format('truetype'),
    url('#{$orchid-font-path}/o-icon.woff?3u1wov') format('woff'),
    url('#{$orchid-font-path}/o-icon.svg?3u1wov#o-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'o-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-text-right {
  &:before {
    content: unicode($icon-text-right); 
  }
}
.icon-text-middle {
  &:before {
    content: unicode($icon-text-middle); 
  }
}
.icon-text-left {
  &:before {
    content: unicode($icon-text-left); 
  }
}
.icon-text-center {
  &:before {
    content: unicode($icon-text-center); 
  }
}
.icon-table {
  &:before {
    content: unicode($icon-table); 
  }
}
.icon-shekel {
  &:before {
    content: unicode($icon-shekel); 
  }
}
.icon-rupi {
  &:before {
    content: unicode($icon-rupi); 
  }
}
.icon-pound {
  &:before {
    content: unicode($icon-pound); 
  }
}
.icon-paste {
  &:before {
    content: unicode($icon-paste); 
  }
}
.icon-orchid {
  &:before {
    content: unicode($icon-orchid); 
  }
}
.icon-open {
  &:before {
    content: unicode($icon-open); 
  }
}
.icon-number-list {
  &:before {
    content: unicode($icon-number-list); 
  }
}
.icon-new-doc {
  &:before {
    content: unicode($icon-new-doc); 
  }
}
.icon-money {
  &:before {
    content: unicode($icon-money); 
  }
}
.icon-lira {
  &:before {
    content: unicode($icon-lira); 
  }
}
.icon-cut {
  &:before {
    content: unicode($icon-cut); 
  }
}
.icon-yen {
  &:before {
    content: unicode($icon-yen); 
  }
}
.icon-rub {
  &:before {
    content: unicode($icon-rub); 
  }
}
.icon-euro {
  &:before {
    content: unicode($icon-euro); 
  }
}
.icon-dollar {
  &:before {
    content: unicode($icon-dollar); 
  }
}
.icon-brush {
  &:before {
    content: unicode($icon-brush); 
  }
}
.icon-bitcoin {
  &:before {
    content: unicode($icon-bitcoin); 
  }
}
.icon-social-steam {
  &:before {
    content: unicode($icon-social-steam); 
  }
}
.icon-event {
  &:before {
    content: unicode($icon-event); 
  }
}
.icon-social-vkontakte {
  &:before {
    content: unicode($icon-social-vkontakte); 
  }
}
.icon-exclamation {
  &:before {
    content: unicode($icon-exclamation); 
  }
}
.icon-organization {
  &:before {
    content: unicode($icon-organization); 
  }
}
.icon-minus {
  &:before {
    content: unicode($icon-minus); 
  }
}
.icon-social-stumbleupon {
  &:before {
    content: unicode($icon-social-stumbleupon); 
  }
}
.icon-social-spotify {
  &:before {
    content: unicode($icon-social-spotify); 
  }
}
.icon-social-soundcloud {
  &:before {
    content: unicode($icon-social-soundcloud); 
  }
}
.icon-social-foursqare {
  &:before {
    content: unicode($icon-social-foursqare); 
  }
}
.icon-social-behance {
  &:before {
    content: unicode($icon-social-behance); 
  }
}
.icon-social-skype {
  &:before {
    content: unicode($icon-social-skype); 
  }
}
.icon-social-reddit {
  &:before {
    content: unicode($icon-social-reddit); 
  }
}
.icon-social-google {
  &:before {
    content: unicode($icon-social-google); 
  }
}
.icon-social-github {
  &:before {
    content: unicode($icon-social-github); 
  }
}
.icon-social-pintarest {
  &:before {
    content: unicode($icon-social-pintarest); 
  }
}
.icon-social-linkedin {
  &:before {
    content: unicode($icon-social-linkedin); 
  }
}
.icon-social-instagram {
  &:before {
    content: unicode($icon-social-instagram); 
  }
}
.icon-paypal {
  &:before {
    content: unicode($icon-paypal); 
  }
}
.icon-arrow-up {
  &:before {
    content: unicode($icon-arrow-up); 
  }
}
.icon-arrow-right {
  &:before {
    content: unicode($icon-arrow-right); 
  }
}
.icon-arrow-left {
  &:before {
    content: unicode($icon-arrow-left); 
  }
}
.icon-arrow-down {
  &:before {
    content: unicode($icon-arrow-down); 
  }
}
.icon-options {
  &:before {
    content: unicode($icon-options); 
  }
}
.icon-options-vertical {
  &:before {
    content: unicode($icon-options-vertical); 
  }
}
.icon-menu {
  &:before {
    content: unicode($icon-menu); 
  }
}
.icon-phone {
  &:before {
    content: unicode($icon-phone); 
  }
}
.icon-volume-off {
  &:before {
    content: unicode($icon-volume-off); 
  }
}
.icon-volume-2 {
  &:before {
    content: unicode($icon-volume-2); 
  }
}
.icon-volume-1 {
  &:before {
    content: unicode($icon-volume-1); 
  }
}
.icon-target {
  &:before {
    content: unicode($icon-target); 
  }
}
.icon-symbol-male {
  &:before {
    content: unicode($icon-symbol-male); 
  }
}
.icon-symble-female {
  &:before {
    content: unicode($icon-symble-female); 
  }
}
.icon-star {
  &:before {
    content: unicode($icon-star); 
  }
}
.icon-settings {
  &:before {
    content: unicode($icon-settings); 
  }
}
.icon-reload {
  &:before {
    content: unicode($icon-reload); 
  }
}
.icon-refresh {
  &:before {
    content: unicode($icon-refresh); 
  }
}
.icon-power {
  &:before {
    content: unicode($icon-power); 
  }
}
.icon-location-pin {
  &:before {
    content: unicode($icon-location-pin); 
  }
}
.icon-plus {
  &:before {
    content: unicode($icon-plus); 
  }
}
.icon-paper-plane {
  &:before {
    content: unicode($icon-paper-plane); 
  }
}
.icon-paper-clip {
  &:before {
    content: unicode($icon-paper-clip); 
  }
}
.icon-magnifier-remove {
  &:before {
    content: unicode($icon-magnifier-remove); 
  }
}
.icon-magnifier-add {
  &:before {
    content: unicode($icon-magnifier-add); 
  }
}
.icon-magnifier {
  &:before {
    content: unicode($icon-magnifier); 
  }
}
.icon-lock-open {
  &:before {
    content: unicode($icon-lock-open); 
  }
}
.icon-lock {
  &:before {
    content: unicode($icon-lock); 
  }
}
.icon-link {
  &:before {
    content: unicode($icon-link); 
  }
}
.icon-key {
  &:before {
    content: unicode($icon-key); 
  }
}
.icon-info {
  &:before {
    content: unicode($icon-info); 
  }
}
.icon-heart {
  &:before {
    content: unicode($icon-heart); 
  }
}
.icon-folder {
  &:before {
    content: unicode($icon-folder); 
  }
}
.icon-flag {
  &:before {
    content: unicode($icon-flag); 
  }
}
.icon-eye {
  &:before {
    content: unicode($icon-eye); 
  }
}
.icon-doc {
  &:before {
    content: unicode($icon-doc); 
  }
}
.icon-cloud-upload {
  &:before {
    content: unicode($icon-cloud-upload); 
  }
}
.icon-cloud-download {
  &:before {
    content: unicode($icon-cloud-download); 
  }
}
.icon-close {
  &:before {
    content: unicode($icon-close); 
  }
}
.icon-clock {
  &:before {
    content: unicode($icon-clock); 
  }
}
.icon-check {
  &:before {
    content: unicode($icon-check); 
  }
}
.icon-camera {
  &:before {
    content: unicode($icon-camera); 
  }
}
.icon-camrecorder {
  &:before {
    content: unicode($icon-camrecorder); 
  }
}
.icon-bubble {
  &:before {
    content: unicode($icon-bubble); 
  }
}
.icon-ban {
  &:before {
    content: unicode($icon-ban); 
  }
}
.icon-arrow-down-circle {
  &:before {
    content: unicode($icon-arrow-down-circle); 
  }
}
.icon-arrow-left-circle {
  &:before {
    content: unicode($icon-arrow-left-circle); 
  }
}
.icon-arrow-right-circle {
  &:before {
    content: unicode($icon-arrow-right-circle); 
  }
}
.icon-arrow-up-circle {
  &:before {
    content: unicode($icon-arrow-up-circle); 
  }
}
.icon-chart {
  &:before {
    content: unicode($icon-chart); 
  }
}
.icon-bulb {
  &:before {
    content: unicode($icon-bulb); 
  }
}
.icon-control-end {
  &:before {
    content: unicode($icon-control-end); 
  }
}
.icon-control-forward {
  &:before {
    content: unicode($icon-control-forward); 
  }
}
.icon-control-pause {
  &:before {
    content: unicode($icon-control-pause); 
  }
}
.icon-control-play {
  &:before {
    content: unicode($icon-control-play); 
  }
}
.icon-control-rewind {
  &:before {
    content: unicode($icon-control-rewind); 
  }
}
.icon-control-start {
  &:before {
    content: unicode($icon-control-start); 
  }
}
.icon-cursor {
  &:before {
    content: unicode($icon-cursor); 
  }
}
.icon-dislike {
  &:before {
    content: unicode($icon-dislike); 
  }
}
.icon-equalizer {
  &:before {
    content: unicode($icon-equalizer); 
  }
}
.icon-graph {
  &:before {
    content: unicode($icon-graph); 
  }
}
.icon-grid {
  &:before {
    content: unicode($icon-grid); 
  }
}
.icon-home {
  &:before {
    content: unicode($icon-home); 
  }
}
.icon-like {
  &:before {
    content: unicode($icon-like); 
  }
}
.icon-list {
  &:before {
    content: unicode($icon-list); 
  }
}
.icon-login {
  &:before {
    content: unicode($icon-login); 
  }
}
.icon-logout {
  &:before {
    content: unicode($icon-logout); 
  }
}
.icon-loop {
  &:before {
    content: unicode($icon-loop); 
  }
}
.icon-microphone {
  &:before {
    content: unicode($icon-microphone); 
  }
}
.icon-music-tone {
  &:before {
    content: unicode($icon-music-tone); 
  }
}
.icon-music-tone-alt {
  &:before {
    content: unicode($icon-music-tone-alt); 
  }
}
.icon-note {
  &:before {
    content: unicode($icon-note); 
  }
}
.icon-pencil {
  &:before {
    content: unicode($icon-pencil); 
  }
}
.icon-pie-chart {
  &:before {
    content: unicode($icon-pie-chart); 
  }
}
.icon-question {
  &:before {
    content: unicode($icon-question); 
  }
}
.icon-rocket {
  &:before {
    content: unicode($icon-rocket); 
  }
}
.icon-share {
  &:before {
    content: unicode($icon-share); 
  }
}
.icon-share-alt {
  &:before {
    content: unicode($icon-share-alt); 
  }
}
.icon-shuffle {
  &:before {
    content: unicode($icon-shuffle); 
  }
}
.icon-size-actual {
  &:before {
    content: unicode($icon-size-actual); 
  }
}
.icon-size-fullscreen {
  &:before {
    content: unicode($icon-size-fullscreen); 
  }
}
.icon-support {
  &:before {
    content: unicode($icon-support); 
  }
}
.icon-tag {
  &:before {
    content: unicode($icon-tag); 
  }
}
.icon-trash {
  &:before {
    content: unicode($icon-trash); 
  }
}
.icon-umbrella {
  &:before {
    content: unicode($icon-umbrella); 
  }
}
.icon-wrench {
  &:before {
    content: unicode($icon-wrench); 
  }
}
.icon-action-redo {
  &:before {
    content: unicode($icon-action-redo); 
  }
}
.icon-action-undo {
  &:before {
    content: unicode($icon-action-undo); 
  }
}
.icon-bag {
  &:before {
    content: unicode($icon-bag); 
  }
}
.icon-basket {
  &:before {
    content: unicode($icon-basket); 
  }
}
.icon-basket-loaded {
  &:before {
    content: unicode($icon-basket-loaded); 
  }
}
.icon-book-open {
  &:before {
    content: unicode($icon-book-open); 
  }
}
.icon-briefcase {
  &:before {
    content: unicode($icon-briefcase); 
  }
}
.icon-bubbles {
  &:before {
    content: unicode($icon-bubbles); 
  }
}
.icon-calculator {
  &:before {
    content: unicode($icon-calculator); 
  }
}
.icon-call-end {
  &:before {
    content: unicode($icon-call-end); 
  }
}
.icon-call-in {
  &:before {
    content: unicode($icon-call-in); 
  }
}
.icon-call-out {
  &:before {
    content: unicode($icon-call-out); 
  }
}
.icon-compass {
  &:before {
    content: unicode($icon-compass); 
  }
}
.icon-cup {
  &:before {
    content: unicode($icon-cup); 
  }
}
.icon-diamond {
  &:before {
    content: unicode($icon-diamond); 
  }
}
.icon-direction {
  &:before {
    content: unicode($icon-direction); 
  }
}
.icon-directions {
  &:before {
    content: unicode($icon-directions); 
  }
}
.icon-docs {
  &:before {
    content: unicode($icon-docs); 
  }
}
.icon-drop {
  &:before {
    content: unicode($icon-drop); 
  }
}
.icon-earphones {
  &:before {
    content: unicode($icon-earphones); 
  }
}
.icon-earphones-alt {
  &:before {
    content: unicode($icon-earphones-alt); 
  }
}
.icon-feed {
  &:before {
    content: unicode($icon-feed); 
  }
}
.icon-film {
  &:before {
    content: unicode($icon-film); 
  }
}
.icon-folder-alt {
  &:before {
    content: unicode($icon-folder-alt); 
  }
}
.icon-frame {
  &:before {
    content: unicode($icon-frame); 
  }
}
.icon-globe {
  &:before {
    content: unicode($icon-globe); 
  }
}
.icon-globe-alt {
  &:before {
    content: unicode($icon-globe-alt); 
  }
}
.icon-handbag {
  &:before {
    content: unicode($icon-handbag); 
  }
}
.icon-layers {
  &:before {
    content: unicode($icon-layers); 
  }
}
.icon-map {
  &:before {
    content: unicode($icon-map); 
  }
}
.icon-picture {
  &:before {
    content: unicode($icon-picture); 
  }
}
.icon-pin {
  &:before {
    content: unicode($icon-pin); 
  }
}
.icon-playlist {
  &:before {
    content: unicode($icon-playlist); 
  }
}
.icon-present {
  &:before {
    content: unicode($icon-present); 
  }
}
.icon-printer {
  &:before {
    content: unicode($icon-printer); 
  }
}
.icon-puzzle {
  &:before {
    content: unicode($icon-puzzle); 
  }
}
.icon-speech {
  &:before {
    content: unicode($icon-speech); 
  }
}
.icon-vector {
  &:before {
    content: unicode($icon-vector); 
  }
}
.icon-wallet {
  &:before {
    content: unicode($icon-wallet); 
  }
}
.icon-anchor {
  &:before {
    content: unicode($icon-anchor); 
  }
}
.icon-badge {
  &:before {
    content: unicode($icon-badge); 
  }
}
.icon-bell {
  &:before {
    content: unicode($icon-bell); 
  }
}
.icon-chemistry {
  &:before {
    content: unicode($icon-chemistry); 
  }
}
.icon-credit-card {
  &:before {
    content: unicode($icon-credit-card); 
  }
}
.icon-crop {
  &:before {
    content: unicode($icon-crop); 
  }
}
.icon-cursor-move {
  &:before {
    content: unicode($icon-cursor-move); 
  }
}
.icon-disc {
  &:before {
    content: unicode($icon-disc); 
  }
}
.icon-emotsmile {
  &:before {
    content: unicode($icon-emotsmile); 
  }
}
.icon-energy {
  &:before {
    content: unicode($icon-energy); 
  }
}
.icon-envelope-open {
  &:before {
    content: unicode($icon-envelope-open); 
  }
}
.icon-fire {
  &:before {
    content: unicode($icon-fire); 
  }
}
.icon-game-controller {
  &:before {
    content: unicode($icon-game-controller); 
  }
}
.icon-ghost {
  &:before {
    content: unicode($icon-ghost); 
  }
}
.icon-graduation {
  &:before {
    content: unicode($icon-graduation); 
  }
}
.icon-hourglass {
  &:before {
    content: unicode($icon-hourglass); 
  }
}
.icon-magic-wand {
  &:before {
    content: unicode($icon-magic-wand); 
  }
}
.icon-magnet {
  &:before {
    content: unicode($icon-magnet); 
  }
}
.icon-mouse {
  &:before {
    content: unicode($icon-mouse); 
  }
}
.icon-mustache {
  &:before {
    content: unicode($icon-mustache); 
  }
}
.icon-notebook {
  &:before {
    content: unicode($icon-notebook); 
  }
}
.icon-plane {
  &:before {
    content: unicode($icon-plane); 
  }
}
.icon-screen-desktop {
  &:before {
    content: unicode($icon-screen-desktop); 
  }
}
.icon-screen-smartphone {
  &:before {
    content: unicode($icon-screen-smartphone); 
  }
}
.icon-screen-tablet {
  &:before {
    content: unicode($icon-screen-tablet); 
  }
}
.icon-shield {
  &:before {
    content: unicode($icon-shield); 
  }
}
.icon-social-dribbble {
  &:before {
    content: unicode($icon-social-dribbble); 
  }
}
.icon-social-dropbox {
  &:before {
    content: unicode($icon-social-dropbox); 
  }
}
.icon-social-facebook {
  &:before {
    content: unicode($icon-social-facebook); 
  }
}
.icon-social-tumblr {
  &:before {
    content: unicode($icon-social-tumblr); 
  }
}
.icon-social-twitter {
  &:before {
    content: unicode($icon-social-twitter); 
  }
}
.icon-social-youtube {
  &:before {
    content: unicode($icon-social-youtube); 
  }
}
.icon-speedometer {
  &:before {
    content: unicode($icon-speedometer); 
  }
}
.icon-trophy {
  &:before {
    content: unicode($icon-trophy); 
  }
}
.icon-user {
  &:before {
    content: unicode($icon-user); 
  }
}
.icon-user-unfollow {
  &:before {
    content: unicode($icon-user-unfollow); 
  }
}
.icon-user-following {
  &:before {
    content: unicode($icon-user-following); 
  }
}
.icon-user-follow {
  &:before {
    content: unicode($icon-user-follow); 
  }
}
.icon-people {
  &:before {
    content: unicode($icon-people); 
  }
}
.icon-user-female {
  &:before {
    content: unicode($icon-user-female); 
  }
}
.icon-modules {
  &:before {
    content: unicode($icon-modules); 
  }
}
.icon-module {
  &:before {
    content: unicode($icon-module); 
  }
}
.icon-calculator-alt {
  &:before {
    content: unicode($icon-calculator-alt); 
  }
}
.icon-bug {
  &:before {
    content: unicode($icon-bug); 
  }
}
.icon-browser {
  &:before {
    content: unicode($icon-browser); 
  }
}
.icon-barcode {
  &:before {
    content: unicode($icon-barcode); 
  }
}
.icon-task {
  &:before {
    content: unicode($icon-task); 
  }
}
.icon-sort-amount-desc {
  &:before {
    content: unicode($icon-sort-amount-desc); 
  }
}
.icon-sort-numeric-desc {
  &:before {
    content: unicode($icon-sort-numeric-desc); 
  }
}
.icon-sort-amount-asc {
  &:before {
    content: unicode($icon-sort-amount-asc); 
  }
}
.icon-server {
  &:before {
    content: unicode($icon-server); 
  }
}
.icon-quote {
  &:before {
    content: unicode($icon-quote); 
  }
}
.icon-history {
  &:before {
    content: unicode($icon-history); 
  }
}
.icon-sort-alpha-desc {
  &:before {
    content: unicode($icon-sort-alpha-desc); 
  }
}
.icon-sort-alpha-asc {
  &:before {
    content: unicode($icon-sort-alpha-asc); 
  }
}
.icon-sort-numeric-asc {
  &:before {
    content: unicode($icon-sort-numeric-asc); 
  }
}
.icon-loading {
  &:before {
    content: unicode($icon-loading); 
  }
}
.icon-building {
  &:before {
    content: unicode($icon-building); 
  }
}
.icon-font {
  &:before {
    content: unicode($icon-font); 
  }
}
.icon-plus-alt {
  &:before {
    content: unicode($icon-plus-alt); 
  }
}
.icon-filter {
  &:before {
    content: unicode($icon-filter); 
  }
}
.icon-database {
  &:before {
    content: unicode($icon-database); 
  }
}
.icon-copyright {
  &:before {
    content: unicode($icon-copyright); 
  }
}
.icon-code {
  &:before {
    content: unicode($icon-code); 
  }
}
.icon-move {
  &:before {
    content: unicode($icon-move); 
  }
}
.icon-moustache {
  &:before {
    content: unicode($icon-moustache); 
  }
}
.icon-eyeglasses {
  &:before {
    content: unicode($icon-eyeglasses); 
  }
}
.icon-tablet {
  &:before {
    content: unicode($icon-tablet); 
  }
}
.icon-monitor {
  &:before {
    content: unicode($icon-monitor); 
  }
}
.icon-controller {
  &:before {
    content: unicode($icon-controller); 
  }
}
.icon-unfollow {
  &:before {
    content: unicode($icon-unfollow); 
  }
}
.icon-friends {
  &:before {
    content: unicode($icon-friends); 
  }
}
.icon-envelope-letter {
  &:before {
    content: unicode($icon-envelope-letter); 
  }
}
.icon-tumblr {
  &:before {
    content: unicode($icon-tumblr); 
  }
}
.icon-dropbox {
  &:before {
    content: unicode($icon-dropbox); 
  }
}
.icon-dribbble {
  &:before {
    content: unicode($icon-dribbble); 
  }
}
.icon-youtube {
  &:before {
    content: unicode($icon-youtube); 
  }
}
.icon-twitter {
  &:before {
    content: unicode($icon-twitter); 
  }
}
.icon-facebook {
  &:before {
    content: unicode($icon-facebook); 
  }
}
.icon-headphones-microphone {
  &:before {
    content: unicode($icon-headphones-microphone); 
  }
}
.icon-headphones {
  &:before {
    content: unicode($icon-headphones); 
  }
}
.icon-drawer {
  &:before {
    content: unicode($icon-drawer); 
  }
}
.icon-help {
  &:before {
    content: unicode($icon-help); 
  }
}
.icon-config {
  &:before {
    content: unicode($icon-config); 
  }
}
.icon-start {
  &:before {
    content: unicode($icon-start); 
  }
}
.icon-full-screen {
  &:before {
    content: unicode($icon-full-screen); 
  }
}
.icon-actual-size {
  &:before {
    content: unicode($icon-actual-size); 
  }
}
.icon-right {
  &:before {
    content: unicode($icon-right); 
  }
}
.icon-left {
  &:before {
    content: unicode($icon-left); 
  }
}
.icon-calendar {
  &:before {
    content: unicode($icon-calendar); 
  }
}
.icon-bar-chart {
  &:before {
    content: unicode($icon-bar-chart); 
  }
}
.icon-unlock {
  &:before {
    content: unicode($icon-unlock); 
  }
}
.icon-pointer {
  &:before {
    content: unicode($icon-pointer); 
  }
}
.icon-envelope {
  &:before {
    content: unicode($icon-envelope); 
  }
}
.icon-video {
  &:before {
    content: unicode($icon-video); 
  }
}
.icon-photo {
  &:before {
    content: unicode($icon-photo); 
  }
}
.icon-female-user {
  &:before {
    content: unicode($icon-female-user); 
  }
}

