$orchid-font-path: "/fonts" !default;

$icon-action-redo: \e900;
$icon-action-undo: \e901;
$icon-actual-size: \e902;
$icon-anchor: \e903;
$icon-arrow-down: \e904;
$icon-arrow-down-circle: \e905;
$icon-arrow-left: \e906;
$icon-arrow-left-circle: \e907;
$icon-arrow-right: \e908;
$icon-arrow-right-circle: \e909;
$icon-arrow-up: \e90a;
$icon-arrow-up-circle: \e90b;
$icon-badge: \e90c;
$icon-bag: \e90d;
$icon-ban: \e90e;
$icon-bar-chart: \e90f;
$icon-barcode: \e910;
$icon-basket: \e911;
$icon-basket-loaded: \e912;
$icon-bell: \e913;
$icon-bitcoin: \e914;
$icon-book-open: \e915;
$icon-briefcase: \e916;
$icon-browser: \e917;
$icon-brush: \e918;
$icon-bubble: \e919;
$icon-bubbles: \e91a;
$icon-bug: \e91b;
$icon-building: \e91c;
$icon-bulb: \e91d;
$icon-calculator: \e91e;
$icon-calculator-alt: \e91f;
$icon-calendar: \e920;
$icon-call-end: \e921;
$icon-call-in: \e922;
$icon-call-out: \e923;
$icon-camera: \e924;
$icon-camrecorder: \e925;
$icon-chart: \e926;
$icon-check: \e927;
$icon-chemistry: \e928;
$icon-circle: \e929;
$icon-circle_thin: \e92a;
$icon-clock: \e92b;
$icon-close: \e92c;
$icon-cloud-download: \e92d;
$icon-cloud-upload: \e92e;
$icon-code: \e92f;
$icon-compass: \e930;
$icon-config: \e931;
$icon-control-end: \e932;
$icon-control-forward: \e933;
$icon-controller: \e934;
$icon-control-pause: \e935;
$icon-control-play: \e936;
$icon-control-rewind: \e937;
$icon-control-start: \e938;
$icon-copyright: \e939;
$icon-credit-card: \e93a;
$icon-crop: \e93b;
$icon-cross: \e93c;
$icon-cup: \e93d;
$icon-cursor: \e93e;
$icon-cursor-move: \e93f;
$icon-cut: \e940;
$icon-database: \e941;
$icon-diamond: \e942;
$icon-direction: \e943;
$icon-directions: \e944;
$icon-disc: \e945;
$icon-dislike: \e946;
$icon-doc: \e947;
$icon-docs: \e948;
$icon-dollar: \e949;
$icon-drawer: \e94a;
$icon-dribbble: \e94b;
$icon-drop: \e94c;
$icon-dropbox: \e94d;
$icon-earphones: \e94e;
$icon-earphones-alt: \e94f;
$icon-emotsmile: \e950;
$icon-energy: \e951;
$icon-envelope: \e952;
$icon-envelope-letter: \e953;
$icon-envelope-open: \e954;
$icon-equalizer: \e955;
$icon-euro: \e956;
$icon-event: \e957;
$icon-exclamation: \e958;
$icon-eye: \e959;
$icon-eyeglasses: \e95a;
$icon-facebook: \e95b;
$icon-feed: \e95c;
$icon-female-user: \e95d;
$icon-film: \e95e;
$icon-filter: \e95f;
$icon-fire: \e960;
$icon-flag: \e961;
$icon-folder: \e962;
$icon-folder-alt: \e963;
$icon-font: \e964;
$icon-frame: \e965;
$icon-friends: \e966;
$icon-full-screen: \e967;
$icon-game-controller: \e968;
$icon-ghost: \e969;
$icon-globe: \e96a;
$icon-globe-alt: \e96b;
$icon-graduation: \e96c;
$icon-graph: \e96d;
$icon-grid: \e96e;
$icon-handbag: \e96f;
$icon-headphones: \e970;
$icon-headphones-microphone: \e971;
$icon-heart: \e972;
$icon-help: \e973;
$icon-history: \e974;
$icon-home: \e975;
$icon-hourglass: \e976;
$icon-info: \e977;
$icon-key: \e978;
$icon-layers: \e979;
$icon-left: \e97a;
$icon-like: \e97b;
$icon-link: \e97c;
$icon-lira: \e97d;
$icon-list: \e97e;
$icon-loading: \e97f;
$icon-location-pin: \e980;
$icon-lock: \e981;
$icon-lock-open: \e982;
$icon-login: \e983;
$icon-logout: \e984;
$icon-loop: \e985;
$icon-magic-wand: \e986;
$icon-magnet: \e987;
$icon-magnifier: \e988;
$icon-magnifier-add: \e989;
$icon-magnifier-remove: \e98a;
$icon-map: \e98b;
$icon-menu: \e98c;
$icon-microphone: \e98d;
$icon-minus: \e98e;
$icon-module: \e98f;
$icon-modules: \e990;
$icon-money: \e991;
$icon-monitor: \e992;
$icon-mouse: \e993;
$icon-moustache: \e994;
$icon-move: \e995;
$icon-music-tone: \e996;
$icon-music-tone-alt: \e997;
$icon-mustache: \e998;
$icon-new-doc: \e999;
$icon-note: \e99a;
$icon-notebook: \e99b;
$icon-number-list: \e99c;
$icon-open: \e99d;
$icon-options: \e99e;
$icon-options-vertical: \e99f;
$icon-orchid: \e9a0;
$icon-organization: \e9a1;
$icon-paper-clip: \e9a2;
$icon-paper-plane: \e9a3;
$icon-paste: \e9a4;
$icon-paypal: \e9a5;
$icon-pencil: \e9a6;
$icon-people: \e9a7;
$icon-phone: \e9a8;
$icon-photo: \e9a9;
$icon-picture: \e9aa;
$icon-pie-chart: \e9ab;
$icon-pin: \e9ac;
$icon-plane: \e9ad;
$icon-playlist: \e9ae;
$icon-plus: \e9af;
$icon-plus-alt: \e9b0;
$icon-pointer: \e9b1;
$icon-pound: \e9b2;
$icon-power: \e9b3;
$icon-present: \e9b4;
$icon-printer: \e9b5;
$icon-puzzle: \e9b6;
$icon-question: \e9b7;
$icon-quote: \e9b8;
$icon-refresh: \e9b9;
$icon-reload: \e9ba;
$icon-right: \e9bb;
$icon-rocket: \e9bc;
$icon-rub: \e9bd;
$icon-rupi: \e9be;
$icon-screen-desktop: \e9bf;
$icon-screen-smartphone: \e9c0;
$icon-screen-tablet: \e9c1;
$icon-server: \e9c2;
$icon-settings: \e9c3;
$icon-share: \e9c4;
$icon-share-alt: \e9c5;
$icon-shekel: \e9c6;
$icon-shield: \e9c7;
$icon-shuffle: \e9c8;
$icon-size-actual: \e9c9;
$icon-size-fullscreen: \e9ca;
$icon-social-behance: \e9cb;
$icon-social-dribbble: \e9cc;
$icon-social-dropbox: \e9cd;
$icon-social-facebook: \e9ce;
$icon-social-foursqare: \e9cf;
$icon-social-github: \e9d0;
$icon-social-google: \e9d1;
$icon-social-instagram: \e9d2;
$icon-social-linkedin: \e9d3;
$icon-social-pintarest: \e9d4;
$icon-social-reddit: \e9d5;
$icon-social-skype: \e9d6;
$icon-social-soundcloud: \e9d7;
$icon-social-spotify: \e9d8;
$icon-social-steam: \e9d9;
$icon-social-stumbleupon: \e9da;
$icon-social-tumblr: \e9db;
$icon-social-twitter: \e9dc;
$icon-social-vkontakte: \e9dd;
$icon-social-youtube: \e9de;
$icon-sort-alpha-asc: \e9df;
$icon-sort-alpha-desc: \e9e0;
$icon-sort-amount-asc: \e9e1;
$icon-sort-amount-desc: \e9e2;
$icon-sort-numeric-asc: \e9e3;
$icon-sort-numeric-desc: \e9e4;
$icon-speech: \e9e5;
$icon-speedometer: \e9e6;
$icon-star: \e9e7;
$icon-start: \e9e8;
$icon-support: \e9e9;
$icon-symble-female: \e9ea;
$icon-symbol-male: \e9eb;
$icon-table: \e9ec;
$icon-tablet: \e9ed;
$icon-tag: \e9ee;
$icon-target: \e9ef;
$icon-task: \e9f0;
$icon-text-center: \e9f1;
$icon-text-left: \e9f2;
$icon-text-middle: \e9f3;
$icon-text-right: \e9f4;
$icon-trash: \e9f5;
$icon-trophy: \e9f6;
$icon-tumblr: \e9f7;
$icon-twitter: \e9f8;
$icon-umbrella: \e9f9;
$icon-unfollow: \e9fa;
$icon-unlock: \e9fb;
$icon-user: \e9fc;
$icon-user-female: \e9fd;
$icon-user-follow: \e9fe;
$icon-user-following: \e9ff;
$icon-user-unfollow: \ea00;
$icon-vector: \ea01;
$icon-video: \ea02;
$icon-volume-1: \ea03;
$icon-volume-2: \ea04;
$icon-volume-off: \ea05;
$icon-wallet: \ea06;
$icon-wrench: \ea07;
$icon-yen: \ea08;
$icon-youtube: \ea09;

