$orchid-font-path: "/fonts" !default;


$icon-energy: \e900;
$icon-social-youtube: \e901;
$icon-credit-card: \e902;
$icon-options: \e903;
$icon-wrench: \e904;
$icon-action-redo: \e905;
$icon-fire: \e906;
$icon-menu: \e907;
$icon-globe-alt: \e908;
$icon-arrow-up-circle: \e909;
$icon-layers: \e90a;
$icon-volume-off: \e90b;
$icon-call-end: \e90c;
$icon-book-open: \e90d;
$icon-arrow-up: \e90e;
$icon-doc: \e90f;
$icon-settings: \e910;
$icon-pie-chart: \e911;
$icon-equalizer: \e912;
$icon-earphones-alt: \e913;
$icon-dislike: \e914;
$icon-bell: \e915;
$icon-control-pause: \e916;
$icon-feed: \e917;
$icon-cloud-upload: \e918;
$icon-event: \e919;
$icon-user-unfollow: \e91a;
$icon-speech: \e91b;
$icon-earphones: \e91c;
$icon-tag: \e91d;
$icon-briefcase: \e91e;
$icon-mustache: \e91f;
$icon-shield: \e920;
$icon-social-dropbox: \e921;
$icon-exclamation: \e922;
$icon-chart: \e923;
$icon-flag: \e924;
$icon-volume-1: \e925;
$icon-power: \e926;
$icon-symble-female: \e927;
$icon-user-following: \e928;
$icon-user-female: \e929;
$icon-vector: \e92a;
$icon-check: \e92b;
$icon-shuffle: \e92c;
$icon-phone: \e92d;
$icon-arrow-down-circle: \e92e;
$icon-refresh: \e92f;
$icon-puzzle: \e930;
$icon-eye: \e931;
$icon-arrow-right-circle: \e932;
$icon-social-vkontakte: \e933;
$icon-close: \e934;
$icon-reload: \e935;
$icon-social-steam: \e936;
$icon-key: \e937;
$icon-screen-desktop: \e938;
$icon-screen-smartphone: \e939;
$icon-microphone: \e93a;
$icon-social-foursqare: \e93b;
$icon-note: \e93c;
$icon-calculator: \e93d;
$icon-directions: \e93e;
$icon-social-pintarest: \e93f;
$icon-folder-alt: \e940;
$icon-pin: \e941;
$icon-login: \e942;
$icon-size-fullscreen: \e943;
$icon-bold: \e944;
$icon-magnifier: \e945;
$icon-plane: \e946;
$icon-graduation: \e947;
$icon-picture: \e948;
$icon-compass: \e949;
$icon-people: \e94a;
$icon-grid: \e94b;
$icon-docs: \e94c;
$icon-options-vertical: \e94d;
$icon-badge: \e94e;
$icon-control-start: \e94f;
$icon-magic-wand: \e950;
$icon-share-alt: \e951;
$icon-mouse: \e952;
$icon-bubble: \e953;
$icon-info: \e954;
$icon-question: \e955;
$icon-arrow-right: \e956;
$icon-bubbles: \e957;
$icon-globe: \e958;
$icon-hourglass: \e959;
$icon-social-instagram: \e95a;
$icon-home: \e95b;
$icon-graph: \e95c;
$icon-magnet: \e95d;
$icon-control-forward: \e95e;
$icon-wallet: \e95f;
$icon-game-controller: \e960;
$icon-disc: \e961;
$icon-bulb: \e962;
$icon-trash: \e963;
$icon-like: \e964;
$icon-social-linkedin: \e965;
$icon-ban: \e966;
$icon-playlist: \e967;
$icon-support: \e968;
$icon-film: \e969;
$icon-control-end: \e96a;
$icon-clock: \e96b;
$icon-social-tumblr: \e96c;
$icon-social-facebook: \e96d;
$icon-user: \e96e;
$icon-music-tone-alt: \e96f;
$icon-camera: \e970;
$icon-italic: \e971;
$icon-bag: \e972;
$icon-basket-loaded: \e973;
$icon-social-behance: \e974;
$icon-map: \e975;
$icon-handbag: \e976;
$icon-social-twitter: \e977;
$icon-loop: \e978;
$icon-present: \e979;
$icon-symbol-male: \e97a;
$icon-control-rewind: \e97b;
$icon-star: \e97c;
$icon-arrow-left-circle: \e97d;
$icon-social-google: \e97e;
$icon-rocket: \e97f;
$icon-magnifier-remove: \e980;
$icon-logout: \e981;
$icon-basket: \e982;
$icon-printer: \e983;
$icon-control-play: \e984;
$icon-social-spotify: \e985;
$icon-diamond: \e986;
$icon-speedometer: \e987;
$icon-target: \e988;
$icon-social-stumbleupon: \e989;
$icon-social-soundcloud: \e98a;
$icon-pencil: \e98b;
$icon-folder: \e98c;
$icon-lock-open: \e98d;
$icon-lock: \e98e;
$icon-action-undo: \e98f;
$icon-share: \e990;
$icon-volume-2: \e991;
$icon-cloud-download: \e992;
$icon-notebook: \e993;
$icon-crop: \e994;
$icon-plus: \e995;
$icon-list: \e996;
$icon-paper-clip: \e997;
$icon-paper-plane: \e998;
$icon-social-reddit: \e999;
$icon-frame: \e99a;
$icon-magnifier-add: \e99b;
$icon-emotsmile: \e99c;
$icon-call-out: \e99d;
$icon-social-skype: \e99e;
$icon-umbrella: \e99f;
$icon-paypal: \e9a0;
$icon-call-in: \e9a1;
$icon-screen-tablet: \e9a2;
$icon-camrecorder: \e9a3;
$icon-music-tone: \e9a4;
$icon-ghost: \e9a5;
$icon-trophy: \e9a6;
$icon-location-pin: \e9a7;
$icon-minus: \e9a8;
$icon-heart: \e9a9;
$icon-anchor: \e9aa;
$icon-cup: \e9ab;
$icon-cursor-move: \e9ac;
$icon-envelope-open: \e9ad;
$icon-organization: \e9ae;
$icon-social-dribbble: \e9af;
$icon-size-actual: \e9b0;
$icon-arrow-down: \e9b1;
$icon-drop: \e9b2;
$icon-user-follow: \e9b3;
$icon-cursor: \e9b4;
$icon-direction: \e9b5;
$icon-chemistry: \e9b6;
$icon-link: \e9b7;
$icon-arrow-left: \e9b8;
$icon-social-github: \e9b9;
$icon-youtube: \e9ba;
$icon-yen: \e9bb;
$icon-video: \e9bc;
$icon-unlock: \e9bd;
$icon-unfollow: \e9be;
$icon-twitter: \e9bf;
$icon-tumblr: \e9c0;
$icon-text-right: \e9c1;
$icon-text-middle: \e9c2;
$icon-text-left: \e9c3;
$icon-text-center: \e9c4;
$icon-task: \e9c5;
$icon-tablet: \e9c6;
$icon-table: \e9c7;
$icon-start: \e9c8;
$icon-sort-numeric-desc: \e9c9;
$icon-sort-numeric-asc: \e9ca;
$icon-sort-amount-desc: \e9cb;
$icon-sort-amount-asc: \e9cc;
$icon-sort-alpha-desc: \e9cd;
$icon-sort-alpha-asc: \e9ce;
$icon-shekel: \e9cf;
$icon-server: \e9d0;
$icon-rupi: \e9d1;
$icon-rub: \e9d2;
$icon-right: \e9d3;
$icon-quote: \e9d4;
$icon-pound: \e9d5;
$icon-pointer: \e9d6;
$icon-plus-alt: \e9d7;
$icon-photo: \e9d8;
$icon-paste: \e9d9;
$icon-orchid: \e9da;
$icon-open: \e9db;
$icon-number-list: \e9dc;
$icon-new-doc: \e9dd;
$icon-move: \e9de;
$icon-moustache: \e9df;
$icon-monitor: \e9e0;
$icon-money: \e9e1;
$icon-modules: \e9e2;
$icon-module: \e9e3;
$icon-loading: \e9e4;
$icon-lira: \e9e5;
$icon-left: \e9e6;
$icon-history: \e9e7;
$icon-help: \e9e8;
$icon-headphones: \e9e9;
$icon-headphones-microphone: \e9ea;
$icon-full-screen: \e9eb;
$icon-friends: \e9ec;
$icon-font: \e9ed;
$icon-filter: \e9ee;
$icon-female-user: \e9ef;
$icon-facebook: \e9f0;
$icon-eyeglasses: \e9f1;
$icon-euro: \e9f2;
$icon-envelope: \e9f3;
$icon-envelope-letter: \e9f4;
$icon-dropbox: \e9f5;
$icon-dribbble: \e9f6;
$icon-drawer: \e9f7;
$icon-dollar: \e9f8;
$icon-database: \e9f9;
$icon-cut: \e9fa;
$icon-cross: \e9fb;
$icon-copyright: \e9fc;
$icon-controller: \e9fd;
$icon-config: \e9fe;
$icon-code: \e9ff;
$icon-circle_thin: \ea00;
$icon-circle: \ea01;
$icon-calendar: \ea02;
$icon-calculator-alt: \ea03;
$icon-building: \ea04;
$icon-bug: \ea05;
$icon-brush: \ea06;
$icon-browser: \ea07;
$icon-bitcoin: \ea08;
$icon-barcode: \ea09;
$icon-bar-chart: \ea0a;
$icon-actual-size: \ea0b;

